<div class="tweet_form">
    <%= form_tag do %>
      <%= label_tag :question, 'Enter Tweet' %> <br />
      <%= text_area_tag :message, nil, size: "44x6" %> <br />
      <%= submit_tag "Tweet!"%>
    <% end %>
</div>
